openapi: 3.1.0
info:
  title: Broadlume BMS API
  version: v1
  summary: Business management API for Broadlume BMS, the flooring ERP formerly known as RollMaster.
  description: 'REST API for Broadlume BMS (formerly RollMaster), Broadlume''s business management system for flooring retailers.
    Covers orders, quotes, leads, customers, products and catalog, inventory, purchase orders, invoicing, accounts receivable,
    general ledger, installation scheduling, e-documents, handheld/barcode operations, dashboards and reporting.


    Transcribed by API Evangelist from Broadlume''s own published developer portal at https://developer.broadlume.com/bms
    — paths, methods, parameters and response fields are taken verbatim from that reference. Broadlume acquired RollMaster
    in November 2021, which is why the documented base URL remains api.rmaster.com.'
  contact:
    name: Broadlume Developer Portal
    url: https://developer.broadlume.com/bms
externalDocs:
  description: Broadlume BMS developer portal
  url: https://developer.broadlume.com/bms
servers:
- url: https://api.rmaster.com/api
  description: Production
security:
- apiKeyAuth: []
  sessionToken: []
tags:
- name: Version
- name: Authentication
- name: Order
- name: Customer
- name: Company
- name: Product
- name: Retail Pricing
- name: Edocs
- name: Install
- name: Dashboard
- name: Pivot
- name: Lead
- name: Bundle
- name: Quote
- name: Inventory
- name: Invoice
- name: Accounts Receivable
- name: Reports
- name: Audit
- name: General Ledger
- name: Handheld
- name: Purchase Order
- name: ChargeItPro
- name: Vendor
- name: Committed
- name: General
- name: Build Order
- name: Logo
paths:
  /{alias}/version:
    get:
      operationId: apiVersion
      summary: API Version
      tags:
      - Version
      description: API version
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  VERSION:
                    type: string
  /{alias}/token:
    post:
      operationId: authenticateUserCreateSession
      summary: Authenticate User / Create Session
      tags:
      - Authentication
      description: Authenticate the user with the system and obtain the token. Token is used for all subsequent API calls.
        Sessions will expire based on a server specified timeout period. In order to use a session for long term use the token(keepalive)
        endpoint to keep the session token active. All calls will update and refresh the last active time of a token, so a
        keepalive call is only necessary when idle. Idle time is a default of 5 minutes.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  maxLength: 8
                  description: User name
                password:
                  type: string
                  maxLength: 8
                  description: User password
                granttype:
                  type: string
                  default: client
                  enum:
                  - application
                  - client
                  description: Token grant type (application or client). Client tokens will time out at a specified amount
                    of minutes and need to have active calls made or a GET token endpoint called to keep it active. Once client
                    tokens expire, they are invalid. Application tokens are long term token used for API to API transactions
                    and do not time out if used within a year of creation.
              required:
              - username
              - password
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANIES:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                  TOKEN:
                    type: string
    get:
      operationId: sessionKeepalive
      summary: Session Keepalive
      tags:
      - Authentication
      description: Sessions expire based on a server specified timeout period. Use this endpoint to verify that a token is
        still valid and to reset the last active time of a call.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
    delete:
      operationId: removeSession
      summary: Remove Session
      tags:
      - Authentication
      description: Sessions expire based on a server specified timeout period. Use this endpoint to verify that a token is
        still valid and to reset the last active time of a call. In order to get a new application token, a DELETE token endpoint
        must be called to reset the key that is issued.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                granttype:
                  type: string
                  default: client
                  enum:
                  - application
                  - client
                  description: Token grant type (application or client). Client tokens will time out at a specified amount
                    of minutes and need to have active calls made or a GET token endpoint called to keep it active. Once client
                    tokens expire, they are invalid. Application tokens are long term token used for API to API transactions
                    and do not time out if used within a year of creation.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
  /{alias}/sessioncount:
    get:
      operationId: sessionCount
      summary: Session Count
      tags:
      - Authentication
      description: Currently active session count and limit
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  SESSIONCOUNT:
                    type: string
                  LIMIT:
                    type: string
  /{alias}/permissions:
    get:
      operationId: userPermissions
      summary: User permissions
      tags:
      - Authentication
      description: User web permissions
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/changebranch:
    post:
      operationId: changeBranches
      summary: Change Branches
      tags:
      - Authentication
      description: Change currently active branches
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                branch:
                  type: array
                  items:
                    type: array
                    items:
                      type: string
                  description: Collection of all arrays that are to be set 'active'. All branches not passed will be set to
                    inactive by default. Subsequent queries will use the list of active branches to filter the returns.
              required:
              - company
              - branch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/order:
    post:
      operationId: createOrder
      summary: Create Order
      tags:
      - Order
      description: Creates an order. Returns the successfully created order.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                branch:
                  type: string
                  maxLength: 2
                  description: RollMaster branch.
                custpo:
                  type: string
                  maxLength: 15
                  description: Required when customer ship to requires.
                ordcustid:
                  type: string
                  maxLength: 8
                ordsalesrep1:
                  type: string
                  maxLength: 3
                  description: Note - assumes user salesperson initials if not sent and if user is salesperson.
                ordsalesrep2:
                  type: string
                  maxLength: 3
                ordjobtype:
                  type: string
                  maxLength: 2
                ordstatuscode:
                  type: string
                  maxLength: 10
                shcode:
                  type: string
                  maxLength: 4
                  description: Ship to code of 0000 is assumed when not sent.
                shname:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shaddr1:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shaddr2:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shctyst:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shcity:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shstate:
                  type: string
                  maxLength: 30
                  description: Ship to information is assumed when not sent.
                shzip:
                  type: string
                  maxLength: 10
                  description: Ship to information is assumed when not sent.
                shbuilding:
                  type: string
                  maxLength: 23
                  description: When used, will override first section of shaddr2 field
                shunit:
                  type: string
                  maxLength: 6
                  description: When used, will override last section of shaddr2 field
                insdate:
                  type: string
                  maxLength: 8
                  description: Format - YYYYMMDD - Changes the single install date for a job (does not function with multi-date
                    records) or when capacities are turned on.
                time:
                  type: string
                  maxLength: 8
                  description: Changes the install time for a job (does not function with multi-date records) or when capacities
                    are turned on.
                initials:
                  type: string
                  maxLength: 1
                  description: Required when company control is turned on and install date is sent.
                phone1:
                  type: string
                  maxLength: 30
                  description: Ship to Phone
                phone2:
                  type: string
                  maxLength: 30
                  description: Ship to Fax
                email:
                  type: string
                  maxLength: 100
                  description: Ship to Email
                typedesc:
                  type: string
                  maxLength: 10
                  description: Ship to Type Description
              required:
              - company
              - branch
              - ordcustid
              - ordsalesrep1
              - ordjobtype
              - ordstatuscode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  DMO_CODIV:
                    type: string
                  DMO_WHSE:
                    type: string
                  DMH_CUSTID:
                    type: string
                  DMH_SHNAME:
                    type: string
                  DMH_SHCODE:
                    type: string
                  DMH_SHADDR1:
                    type: string
                  DMH_SHADDR2:
                    type: string
                  DMH_SHCTYST:
                    type: string
                  DMH_SHZIP:
                    type: string
                  DMH_SALESREP1:
                    type: string
                  DMH_SALESREP2:
                    type: string
                  DMH_SPECIAL1:
                    type: string
                  DMH_CUSTPO:
                    type: string
                  DMH_QRDNO:
                    type: string
                  DMH_STATUSCODE:
                    type: string
                  DMH_DATE:
                    type: string
                  DMH_INSTALLDATE:
                    type: string
                  DMH_SHPHONE1:
                    type: string
                  DMH_SHFAX:
                    type: string
                  DMH_SHCONTACT:
                    type: string
                  DMH_ORDEREDBY:
                    type: string
                  DMH_INSTALL_TIME:
                    type: string
                  SAL_NAME:
                    type: string
                  PODMO_WEB_USER:
                    type: string
                  DMH_JOBTOTAL:
                    type: string
                  DMH_BLDG:
                    type: string
                  DMH_UNIT:
                    type: string
                  DMH_SHCITY:
                    type: string
                  DMH_SHSTATE:
                    type: string
    patch:
      operationId: updateOrder
      summary: Update Order
      tags:
      - Order
      description: Updates an existing order. Returns the key (header info) of the order updated. Only fields sent will update.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: custpo
        in: query
        required: false
        schema:
          type: string
          maxLength: 15
        description: Required when customer ship to requires and not already filled for existing ship to code.
      - name: ordcustid
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: ordsalesrep1
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: Required when not already filled ship to requires and not already filled for existing ship to code. Assumes
          user salesperson initials if not sent and if user is salesperson.
      - name: ordsalesrep2
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: ordjobtype
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Required when not already filled.
      - name: ordstatuscode
        in: query
        required: false
        schema:
          type: string
          maxLength: 10
        description: Required when not already filled.
      - name: shcode
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Ship to code of 0000 is assumed when not sent and info has not been filled or when changing customer.
      - name: shname
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shaddr1
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shaddr2
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shctyst
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shcity
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shstate
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shzip
        in: query
        required: false
        schema:
          type: string
          maxLength: 10
        description: Ship to information is assumed when changing ship to code or customer and info has not been sent.
      - name: shbuilding
        in: query
        required: false
        schema:
          type: string
          maxLength: 23
        description: When used, will override first section of shaddr2 field
      - name: shunit
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: When used, will override last section of shaddr2 field
      - name: insdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Changes the single install date for a job (does not function with multi-date records)
          or when capacities are turned on.
      - name: time
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Changes the install time for a job (does not function with multi-date records) or when capacities are
          turned on.
      - name: initials
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: Required when company control is turned on and install date is sent.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                phone1:
                  type: string
                  maxLength: 30
                  description: Ship to Phone
                phone2:
                  type: string
                  maxLength: 30
                  description: Ship to Fax
                email:
                  type: string
                  maxLength: 100
                  description: Ship to Email
                typedesc:
                  type: string
                  maxLength: 10
                  description: Ship to Type Description
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  DMO_CODIV:
                    type: string
                  DMO_WHSE:
                    type: string
                  DMH_CUSTID:
                    type: string
                  DMH_SHNAME:
                    type: string
                  DMH_SHCODE:
                    type: string
                  DMH_SHADDR1:
                    type: string
                  DMH_SHADDR2:
                    type: string
                  DMH_SHCTYST:
                    type: string
                  DMH_SHZIP:
                    type: string
                  DMH_SALESREP1:
                    type: string
                  DMH_SALESREP2:
                    type: string
                  DMH_SPECIAL1:
                    type: string
                  DMH_CUSTPO:
                    type: string
                  DMH_QRDNO:
                    type: string
                  DMH_STATUSCODE:
                    type: string
                  DMH_DATE:
                    type: string
                  DMH_INSTALLDATE:
                    type: string
                  DMH_SHPHONE1:
                    type: string
                  DMH_SHFAX:
                    type: string
                  DMH_SHCONTACT:
                    type: string
                  DMH_ORDEREDBY:
                    type: string
                  DMH_INSTALL_TIME:
                    type: string
                  SAL_NAME:
                    type: string
                  PODMO_WEB_USER:
                    type: string
                  DMH_JOBTOTAL:
                    type: string
                  DMH_BLDG:
                    type: string
                  DMH_UNIT:
                    type: string
                  DMH_SHCITY:
                    type: string
                  DMH_SHSTATE:
                    type: string
    get:
      operationId: getOrder
      summary: Get Order
      tags:
      - Order
      description: Get order header information
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  DMO_CODIV:
                    type: string
                  DMO_WHSE:
                    type: string
                  DMH_CUSTID:
                    type: string
                  DMH_SHNAME:
                    type: string
                  DMH_SHCODE:
                    type: string
                  DMH_SHADDR1:
                    type: string
                  DMH_SHADDR2:
                    type: string
                  DMH_SHCTYST:
                    type: string
                  DMH_SHZIP:
                    type: string
                  DMH_SALESREP1:
                    type: string
                  DMH_SALESREP2:
                    type: string
                  DMH_SPECIAL1:
                    type: string
                  DMH_CUSTPO:
                    type: string
                  DMH_QRDNO:
                    type: string
                  DMH_STATUSCODE:
                    type: string
                  DMH_DATE:
                    type: string
                  DMH_INSTALLDATE:
                    type: string
                  DMH_SHPHONE1:
                    type: string
                  DMH_SHFAX:
                    type: string
                  DMH_SHCONTACT:
                    type: string
                  DMH_ORDEREDBY:
                    type: string
                  DMH_INSTALL_TIME:
                    type: string
                  SAL_NAME:
                    type: string
                  PODMO_WEB_USER:
                    type: string
                  DMH_JOBTOTAL:
                    type: string
                  DMH_BLDG:
                    type: string
                  DMH_UNIT:
                    type: string
                  DMH_SHCITY:
                    type: string
                  DMH_SHSTATE:
                    type: string
  /{alias}/orderlineinstaller:
    patch:
      operationId: updateOrderLineInstallerSingleDateOnly
      summary: Update Order Line Installer (Single Date Only)
      tags:
      - Order
      description: Sets/updates the installer for a single labor line <br> <b>Single Intall Date Only </b>
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      - name: installer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: taxable
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Y or N
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
  /{alias}/orderline:
    get:
      operationId: getOrderLinesInactiveUntil2102Release
      summary: Get Order Lines - Inactive until 2102 Release
      tags:
      - Order
      description: Get Order Lines - Inactive until 2102 Release
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Required When Audit Date Is Not Sent.
      - name: status
        in: query
        required: false
        schema:
          type: string
          default: open
          enum:
          - open
          - closed
          - both
        description: Job Status.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks at Job Audit Date in Range.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - - Looks at Job Audit Date in Range.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
    post:
      operationId: createOrderLine
      summary: Create Order Line
      tags:
      - Order
      description: Creates a line on an existing order. Returns the key (header info) of the order updated. <br><br> Only
        one of these parameters (ordlseq, ordlb2bsku, ordlbarcode) is required. If more than one is passed they execute in
        the precedence of  ordlseq > ordlb2bsku > ordlbarcode
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                branch:
                  type: string
                  maxLength: 2
                  description: RollMaster branch.
                order:
                  type: string
                  maxLength: 6
                ordlseq:
                  type: string
                  maxLength: 13
                  description: Catalog sequence
                ordlb2bsku:
                  type: string
                  maxLength: 30
                ordlbarcode:
                  type: string
                  maxLength: 30
                ordlwqty:
                  type: string
                  maxLength: 9
                ordlsqty:
                  type: string
                  maxLength: 9
                ordlprice:
                  type: string
                  maxLength: 9
                laborunitcost:
                  type: string
                  maxLength: 9
                taxable:
                  type: string
                  maxLength: 1
                  description: Y or N
              required:
              - company
              - branch
              - order
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/salesreps:
    get:
      operationId: salesReps
      summary: Sales Reps
      tags:
      - Order
      description: Sales Rep list
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ordertype:
    get:
      operationId: orderTypeList
      summary: Order Type List
      tags:
      - Order
      description: Order Type list
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/accumcode:
    get:
      operationId: accumulatorCodeList
      summary: Accumulator Code List
      tags:
      - Order
      description: Accumulator Code List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ordertimeslots:
    get:
      operationId: orderTimeSlotList
      summary: Order Time Slot List
      tags:
      - Order
      description: Order Time Slot List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/orders:
    get:
      operationId: ordersByDateRange
      summary: Orders by date range
      tags:
      - Order
      description: Orders by date range
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: custid
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: ordstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Appending and using I returns closed orders, using A returns open and closed orders.
      - name: shaddr1
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Searches shipto address 1 and 2, used only when startswith is not sent.
      - name: startswith
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Searches shipto address 1 and 2, used only when shaddr1 is not sent.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD, required when searching with shaddr1, or when startswith is not sent.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD, required when searching with shaddr1, or when startswith is not sent.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/invoicedue:
    get:
      operationId: agingInvoices
      summary: Aging Invoices
      tags:
      - Order
      description: Aging Invoices
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: days
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: Days Old
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/linecomments:
    post:
      operationId: createOrderLineComment
      summary: Create Order Line Comment
      tags:
      - Order
      description: Creates an order line comment.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                branch:
                  type: string
                  maxLength: 2
                  description: RollMaster branch.
                job:
                  type: string
                  maxLength: 6
                lnnum:
                  type: string
                  maxLength: 3
                linenote:
                  type: string
                  maxLength: 70
                commenttype:
                  type: string
                  maxLength: 1
                  description: W = work order, C = customer, B= both, N = none
              required:
              - company
              - branch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  OLC_CODIV:
                    type: string
                  OLC_WHSE:
                    type: string
                  OLC_ORDNO:
                    type: string
                  OLC_LNNUM:
                    type: string
                  OLC_SEQ:
                    type: string
                  OLC_TYPE:
                    type: string
                  OLC_COMMENT:
                    type: string
                  OLC_WEBNAME:
                    type: string
                  OLC_DATE:
                    type: string
                  OLC_TIME:
                    type: string
                  OLC_REQUIRED:
                    type: string
                  OLC_NOTE_NUM:
                    type: string
    patch:
      operationId: updateOrderLineComment
      summary: Update Order Line Comment
      tags:
      - Order
      description: Updates an existing order line comment.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: job
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
      - name: lnnum
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: commseq
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: linenote
        in: query
        required: false
        schema:
          type: string
          maxLength: 53
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  OLC_CODIV:
                    type: string
                  OLC_WHSE:
                    type: string
                  OLC_ORDNO:
                    type: string
                  OLC_LNNUM:
                    type: string
                  OLC_SEQ:
                    type: string
                  OLC_TYPE:
                    type: string
                  OLC_COMMENT:
                    type: string
                  OLC_WEBNAME:
                    type: string
                  OLC_DATE:
                    type: string
                  OLC_TIME:
                    type: string
                  OLC_REQUIRED:
                    type: string
                  OLC_NOTE_NUM:
                    type: string
    get:
      operationId: getOrderLineCommments
      summary: Get order line commments
      tags:
      - Order
      description: Get all order line commments
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: job
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
      - name: lnnum
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
    delete:
      operationId: deleteOrderLineCommment
      summary: Delete order line commment
      tags:
      - Order
      description: Delete order line comment
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: job
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
      - name: lnnum
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: commseq
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
  /{alias}/jobnote:
    post:
      operationId: createsAJobNote
      summary: Creates a Job Note
      tags:
      - Order
      description: Creates a Job Note
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                branch:
                  type: string
                  maxLength: 2
                  description: RollMaster branch.
                order:
                  type: string
                  maxLength: 6
                note:
                  type: string
                  maxLength: 59
              required:
              - company
              - branch
              - order
              - note
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  CO:
                    type: string
                  BR:
                    type: string
                  ORDNO:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    patch:
      operationId: editsAJobNote
      summary: Edits a Job Note
      tags:
      - Order
      description: Edits a Job Note
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: note
        in: query
        required: true
        schema:
          type: string
          maxLength: 59
      - name: page
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  CO:
                    type: string
                  BR:
                    type: string
                  ORDNO:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    get:
      operationId: readsAJobNote
      summary: Reads a Job Note
      tags:
      - Order
      description: Reads a Job Note
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: jobpage
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  CO:
                    type: string
                  BR:
                    type: string
                  ORDNO:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    delete:
      operationId: erasesAJobNote
      summary: Erases a Job Note
      tags:
      - Order
      description: Erases a Job Note
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster branch.
      - name: order
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  CO:
                    type: string
                  BRANCH:
                    type: string
                  ORDER:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
  /{alias}/initials:
    get:
      operationId: listOfInitials
      summary: List of Initials
      tags:
      - Order
      description: List of Initials
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/jobstats:
    get:
      operationId: jobStatusList
      summary: Job Status List
      tags:
      - Order
      description: Job Status List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: jobstat
        in: query
        required: false
        schema:
          type: string
          maxLength: 10
      - name: jstattype
        in: query
        required: false
        schema:
          type: string
          maxLength: 10
        description: Job Status types - order, quote, lead, spaces returns all
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/regiontax:
    get:
      operationId: getRegionTaxCodes
      summary: Get Region Tax Codes
      tags:
      - Order
      description: Get Region tax codes by company and/or region
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: region
        in: query
        required: false
        schema:
          type: string
          maxLength: 20
        description: Optional - use to return tax details for a single region
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/commissiondetails:
    get:
      operationId: getSalesRepCommissionDetails
      summary: Get Sales Rep Commission Details
      tags:
      - Order
      description: Get Sales Rep Commission Details
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional, gets branch specific commission info when applicable.
      - name: salesid
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: Optional
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of
          records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get
          chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/taxcode:
    get:
      operationId: taxCodeDetails
      summary: Tax Code Details
      tags:
      - Order
      description: Get tax code details by company
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: taxcode
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Optional
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Last Edit Date - Format - YYYYMMDD
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Last Edit Date - Format - YYYYMMDD
      - name: alphanumericstart
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
      - name: alphanumericend
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/orderlinesub:
    get:
      operationId: getOrdlsubRecords
      summary: Get ORDLSUB Records
      tags:
      - Order
      description: Get ORDLSUB Records
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: jobstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 7
        description: Optional, open/closed. When not sent open and closed jobs are returned.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      - name: job
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Optional
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of
          records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get
          chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customers:
    get:
      operationId: customerList
      summary: Customer List
      tags:
      - Customer
      description: Get all current customers. Can be used to find customers with last invoice date within date range, last
        pay date in date range, or last edited date of customer record.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks for Last Invoice date, Last Pay date, or Last Edit date in range. If no date
          range is sent, a full list of customers will be returned.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks for Last Invoice date, Last Pay date, or Last Edit date in range. If no date
          range is sent, a full list of customers will be returned.
      - name: type
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Sending a type Value of 'PC' along with a product code will return customers who have purchased that
          product in the date range. A value of 'EDIT' and passing 'startdate' and 'enddate' or 'lastdays' will return only
          customer records that have been edited within that timeframe.
      - name: prodcode
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Sending a type Value of PC along with a product code will return customers who have purchased that product
          in the date range.
      - name: startdate2
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks customer creation date.
      - name: enddate2
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks customer creation date.
      - name: lastdays
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Last X days of data to call for. Same as calling for startdate through enddate of X days ago to today.
          Call for either startdate/enddate OR lastdays. Lastdays WILL OVERRIDE startdate/enddate.
      - name: salesid
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: salesid2
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customer:
    get:
      operationId: customerInfo
      summary: Customer info
      tags:
      - Customer
      description: Get customer info. Either customer or customername are required.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: (required if customername is not passed) References the customer id field. Leading spaces need to be
          filled with websafe spacing.
      - name: customername
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: (required if customer is not passed) References the customer name. Spaces need to be filled with websafe
          spacing.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  C_CID:
                    type: string
                  C_NAME:
                    type: string
                  C_ADDR1:
                    type: string
                  C_ADDR2:
                    type: string
                  C_CTYST:
                    type: string
                  C_ZIPCD:
                    type: string
                  C_PHONE:
                    type: string
                  C_TERRFLAG:
                    type: string
                  C_TERR:
                    type: string
                  C_DAYS:
                    type: string
                  C_NET:
                    type: string
                  C_FINCHG:
                    type: string
                  C_CHGPCT:
                    type: string
                  C_CHGDAYS:
                    type: string
                  C_STAT:
                    type: string
                  C_CRSTATUS:
                    type: string
                  C_CONTACT:
                    type: string
                  C_PHONE2:
                    type: string
                  C_FAX:
                    type: string
                  C_TAXID:
                    type: string
                  C_CURR_CREDIT:
                    type: string
                  C_CURR_CREDIT_FLOAT:
                    type: string
                  C_CURR_CREDIT_DISP:
                    type: string
                  C_TERMS:
                    type: string
                  C_SALES:
                    type: string
                  C_YTD_SALES:
                    type: string
                  C_PREVYRSLS:
                    type: string
                  C_CRLIMIT:
                    type: string
                  C_DATE_OPEN:
                    type: string
                  C_LAST_PAY:
                    type: string
                  C_LAST_INV:
                    type: string
                  C_LAST_ORDER:
                    type: string
                  C_EMAIL:
                    type: string
                  C_TERMS_DISP:
                    type: string
                  C_AVG_PAY:
                    type: string
                  C_ONORDER:
                    type: string
                  C_ARDUE:
                    type: string
                  C_CITY:
                    type: string
                  C_STATE:
                    type: string
                  C_COUNTRY:
                    type: string
                  C_PRICE:
                    type: string
                  SAL_NAME:
                    type: string
                  C_CUSTTYPE:
                    type: string
    post:
      operationId: customerInfo1
      summary: Customer info
      tags:
      - Customer
      description: Create customer.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                COMPANY:
                  type: string
                  maxLength: 2
                C_CID:
                  type: string
                  maxLength: 8
                C_WHSE:
                  type: string
                  maxLength: 2
                C_NAME:
                  type: string
                  maxLength: 30
                C_ADDR1:
                  type: string
                  maxLength: 100
                C_ADDR2:
                  type: string
                  maxLength: 100
                C_ZIPCD:
                  type: string
                  maxLength: 10
                C_PHONE:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_TERRFLAG:
                  type: string
                  maxLength: 30
                C_TERR:
                  type: string
                  maxLength: 30
                C_STAT:
                  type: string
                  maxLength: 30
                C_CONTACT:
                  type: string
                  maxLength: 30
                C_PHONE2:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_FAX:
                  type: string
                  maxLength: 30
                  description: Format '999-999-9999'
                C_TAXID:
                  type: string
                  maxLength: 30
                C_SLSID:
                  type: string
                  maxLength: 30
                C_EMAIL:
                  type: string
                  maxLength: 100
                C_PRICE_LEVEL_DEFAULT:
                  type: string
                  maxLength: 30
                C_CUSTTYPE:
                  type: string
                  maxLength: 30
                C_PROMPMGMT_CO:
                  type: string
                  maxLength: 30
                C_NAME_LONG:
                  type: string
                  maxLength: 100
                C_CITY:
                  type: string
                  maxLength: 30
                C_STATE:
                  type: string
                  maxLength: 30
              required:
              - COMPANY
              - C_CID
              - C_WHSE
              - C_NAME
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
    patch:
      operationId: customerInfo2
      summary: Customer info
      tags:
      - Customer
      description: Update customer.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                COMPANY:
                  type: string
                  maxLength: 2
                C_CID:
                  type: string
                  maxLength: 8
                C_WHSE:
                  type: string
                  maxLength: 2
                C_NAME:
                  type: string
                  maxLength: 30
                C_ADDR1:
                  type: string
                  maxLength: 100
                C_ADDR2:
                  type: string
                  maxLength: 100
                C_CTYST:
                  type: string
                  maxLength: 30
                C_ZIPCD:
                  type: string
                  maxLength: 10
                C_PHONE:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_TERRFLAG:
                  type: string
                  maxLength: 30
                C_TERR:
                  type: string
                  maxLength: 30
                C_STAT:
                  type: string
                  maxLength: 30
                C_CONTACT:
                  type: string
                  maxLength: 30
                C_PHONE2:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_FAX:
                  type: string
                  maxLength: 30
                  description: Format '999-999-9999'
                C_TAXID:
                  type: string
                  maxLength: 30
                C_SLSID:
                  type: string
                  maxLength: 30
                C_EMAIL:
                  type: string
                  maxLength: 100
                C_PRICE_LEVEL_DEFAULT:
                  type: string
                  maxLength: 30
                C_CUSTTYPE:
                  type: string
                  maxLength: 30
                C_PROMPMGMT_CO:
                  type: string
                  maxLength: 30
                C_NAME_LONG:
                  type: string
                  maxLength: 100
                C_CITY:
                  type: string
                  maxLength: 30
                C_STATE:
                  type: string
                  maxLength: 30
                C_COUNTRY:
                  type: string
                  maxLength: 100
                C_ORDSTATUS:
                  type: string
                  maxLength: 30
              required:
              - COMPANY
              - C_CID
              - C_WHSE
              - C_NAME
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
  /{alias}/customersearchbyphone:
    get:
      operationId: customerSearch
      summary: Customer Search
      tags:
      - Customer
      description: Customer Search
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: term
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Search term for phone number
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of
          records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get
          chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customersearch:
    get:
      operationId: customerSearch1
      summary: Customer Search
      tags:
      - Customer
      description: Customer Search
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Last edited date.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Last edited date.
      - name: term
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Search term
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of
          records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get
          chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerproperties:
    get:
      operationId: customerProperties
      summary: Customer Properties
      tags:
      - Customer
      description: Customer Properties
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Customer ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerpropertymanagers:
    get:
      operationId: customerPropertyManagers
      summary: Customer Property Managers
      tags:
      - Customer
      description: Customer Property Managers
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerinvoices:
    get:
      operationId: customerInvoices
      summary: Customer Invoices
      tags:
      - Customer
      description: Customer Invoices List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: type
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: DEP, ORD, INV, IVA (Returns all invoices within date range, does not use customer ID)
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: search
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Optional - "I" searches by invoice date, otherwise register date is used.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customer5year:
    get:
      operationId: customer5YearSales
      summary: Customer 5 Year Sales
      tags:
      - Customer
      description: Customer 5 Year Sales
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: role
        in: query
        required: true
        schema:
          type: string
          maxLength: 1
        description: Sending S totals sales, R totals open invoice items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerARcontacts:
    get:
      operationId: customerArContacts
      summary: Customer AR Contacts
      tags:
      - Customer
      description: Customer AR Contacts
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customercontact:
    post:
      operationId: createsCustomerContact
      summary: Creates Customer Contact
      tags:
      - Customer
      description: Creates Customer Contact
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                customer:
                  type: string
                  maxLength: 8
                firstname:
                  type: string
                  maxLength: 30
                  description: Contact First Name
                lastname:
                  type: string
                  maxLength: 30
                  description: Contact Last Name
                contactrole:
                  type: string
                  maxLength: 30
                  description: Contact Role
                phone1:
                  type: string
                  maxLength: 30
                  description: Contact Phone
                phone2:
                  type: string
                  maxLength: 30
                  description: Contact Cell Phone
                email:
                  type: string
                  maxLength: 100
                  description: Contact Email
                text2:
                  type: string
                  maxLength: 1
                  description: Contact Can Be Texted - Format - 1 For Y, 0 For N.
              required:
              - company
              - customer
              - firstname
              - lastname
              - contactrole
              - email
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ARC_UPDATED:
                    type: string
    patch:
      operationId: updatesExistingCustomerContact
      summary: Updates Existing Customer Contact
      tags:
      - Customer
      description: Update Existing Customer Contact
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: contact
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
        description: Contact Key
      - name: sequence
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
        description: AR contact sequence number
      - name: firstname
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact First Name
      - name: lastname
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Last Name
      - name: contactrole
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Role
      - name: phone1
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Phone
      - name: phone2
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Cell Phone
      - name: email
        in: query
        required: false
        schema:
          type: string
          maxLength: 100
        description: Contact Email
      - name: text2
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Contact Can Be Texted - Format - 1 For Y, 0 For N.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ARC_UPDATED:
                    type: string
  /{alias}/customerARnotes:
    get:
      operationId: customerArContactNotes
      summary: Customer AR Contact Notes
      tags:
      - Customer
      description: Customer AR Contact Notes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: contact
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: seq
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ customerARnotes:
    post:
      operationId: createCustomerArContactNotes
      summary: Create Customer AR Contact Notes
      tags:
      - Customer
      description: Create Customer AR Contact Notes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                contact:
                  type: string
                  maxLength: 6
                seq:
                  type: string
                  maxLength: 3
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
    patch:
      operationId: updateCustomerArContactNotes
      summary: Update Customer AR Contact Notes
      tags:
      - Customer
      description: Update Customer AR Contact Notes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                contact:
                  type: string
                  maxLength: 6
                seq:
                  type: string
                  maxLength: 3
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ ContactNotesbyID:
    get:
      operationId: allCustomerContactNotes
      summary: All Customer Contact Notes
      tags:
      - Customer
      description: All Customer Contact Notes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customersaleslist:
    get:
      operationId: customerSales
      summary: Customer Sales
      tags:
      - Customer
      description: Customer Sales List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/roleList:
    get:
      operationId: getContactRoleList
      summary: Get Contact Role List
      tags:
      - Customer
      description: Get Contact Role List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/shipto:
    get:
      operationId: shipToInformation
      summary: Ship To Information
      tags:
      - Customer
      description: Return Ship To Contact Information
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Required to return valid sale rep contact information.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: shipto
        in: query
        required: true
        schema:
          type: string
          maxLength: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  NAME:
                    type: string
                  ADDR1:
                    type: string
                  ADDR2:
                    type: string
                  CTYST:
                    type: string
                  ZIPCD:
                    type: string
                  PHONE1:
                    type: string
                  PHONE2:
                    type: string
                  FAX:
                    type: string
                  CONTACT:
                    type: string
                  CITY:
                    type: string
                  STATE:
                    type: string
                  TYPE:
                    type: string
                  EMAIL:
                    type: string
                  EMAIL_REP:
                    type: string
                  EMAIL_CUSTOMER:
                    type: string
                  SHIPTO_REP1:
                    type: string
                  SHIPTO_REP1_EMAIL:
                    type: string
                  SHIPTO_REP2:
                    type: string
                  SHIPTO_REP2_EMAIL:
                    type: string
                  SHIPTO_EMAIL_OVERRIDDEN:
                    type: string
  /{alias}/customershiptos:
    get:
      operationId: customerShipToCodes
      summary: Customer Ship To Codes
      tags:
      - Customer
      description: Gets all customer ship to codes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: custid
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of
          records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get
          chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/payhist:
    get:
      operationId: paymentHistory
      summary: Payment History
      tags:
      - Customer
      description: Payment History
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/aropenitem:
    get:
      operationId: arOpenItems
      summary: AR Open Items
[...]
