openapi: 3.2.0
info:
  title: Broadlume BMS Reports API
  version: v1
  summary: Business management API for Broadlume BMS, the flooring ERP formerly known as RollMaster.
  description: 'REST API for Broadlume BMS (formerly RollMaster), Broadlume''s business management system for flooring retailers. Covers orders, quotes, leads, customers, products and catalog, inventory, purchase orders, invoicing, accounts receivable, general ledger, installation scheduling, e-documents, handheld/barcode operations, dashboards and reporting.


    Transcribed by API Evangelist from Broadlume''s own published developer portal at https://developer.broadlume.com/bms — paths, methods, parameters and response fields are taken verbatim from that reference. Broadlume acquired RollMaster in November 2021, which is why the documented base URL remains api.rmaster.com.'
  contact:
    name: Broadlume Developer Portal
    url: https://developer.broadlume.com/bms
servers:
- url: https://api.rmaster.com/api
  description: Production
security:
- apiKeyAuth: []
  sessionToken: []
tags:
- name: Reports
paths:
  /{alias}/salesreport:
    get:
      operationId: getPreBuiltSalesReport
      summary: Get pre-built sales report
      tags:
      - Reports
      description: Get a pre-built sales report for year
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: lastdays
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Last X days of data to call for. Same as calling for startdate through enddate of X days ago to today. Call for either startdate/enddate OR lastdays. Lastdays WILL OVERRIDE startdate/enddate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/writtenbusiness:
    get:
      operationId: getWrittenBusinessReport
      summary: Get written business report
      tags:
      - Reports
      description: Get written business report by date range
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: lastdays
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Last X days of data to call for. Same as calling for startdate through enddate of X days ago to today. Call for either startdate/enddate OR lastdays. Lastdays WILL OVERRIDE startdate/enddate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/writtenbusinessdetail:
    get:
      operationId: getWrittenBusinessReportDetail
      summary: Get written business report detail
      tags:
      - Reports
      description: Get written business report detail by date range
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: lastdays
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Last X days of data to call for. Same as calling for startdate through enddate of X days ago to today. Call for either startdate/enddate OR lastdays. Lastdays WILL OVERRIDE startdate/enddate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued by Broadlume, required on every request.
    sessionToken:
      type: apiKey
      in: header
      name: token
      description: User session token obtained from POST /{alias}/token. Sessions expire after a server-specified idle timeout (default 5 minutes); refresh with the keepalive endpoint.
externalDocs:
  description: Broadlume BMS developer portal
  url: https://developer.broadlume.com/bms
