openapi: 3.2.0
info:
  title: Broadlume BMS Build Order API
  version: v1
  summary: Business management API for Broadlume BMS, the flooring ERP formerly known as RollMaster.
  description: REST API for Broadlume BMS (formerly RollMaster), Broadlume's business management system for flooring retailers.
  contact:
    name: Broadlume Developer Portal
    url: https://developer.broadlume.com/bms
servers:
- url: https://api.rmaster.com/api
  description: Production
security:
- apiKeyAuth: []
  sessionToken: []
tags:
- name: Build Order
paths:
  /{alias}/buildorders:
    get:
      operationId: getBmFile
      summary: Get BM File
      tags:
      - Build Order
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      - name: order
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Optional
      - name: ordstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Appending and using I returns closed orders, using A returns open and closed orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
  /{alias}/buildorderlines:
    get:
      operationId: getBuildOrderLinesFile
      summary: Get Build Order Lines File
      tags:
      - Build Order
      description: Returns Build Order Lines
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      - name: order
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Optional
      - name: ordstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Appending and using I returns closed orders, using A returns open and closed orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
  /{alias}/buildorderpoint:
    get:
      operationId: getBuildOrderPointFile
      summary: Get Build Order Point File
      tags:
      - Build Order
      description: Returns Build Order Point Records
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      - name: order
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Optional
      - name: ordstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Appending and using I returns closed orders, using A returns open and closed orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
  /{alias}/orderrelatedbolines:
    get:
      operationId: getOrderRelatedBuildOrderLines
      summary: Get Order-Related Build Order Lines
      tags:
      - Build Order
      description: Returns order-related build order lines by company, branch, order number, and/or audit date
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Optional
      - name: order
        in: query
        required: false
        schema:
          type: string
          maxLength: 6
        description: Optional
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks Audit Date in Range.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - - Looks Audit Date in Range.
      - name: ordstatus
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Appending and using I returns closed orders, using A returns open and closed orders.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMMENT:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued by Broadlume, required on every request.
    sessionToken:
      type: apiKey
      in: header
      name: token
      description: User session token obtained from POST /{alias}/token. Sessions expire after a server-specified idle timeout (default 5 minutes); refresh with the keepalive endpoint.
externalDocs:
  description: Broadlume BMS developer portal
  url: https://developer.broadlume.com/bms
