openapi: 3.2.0
info:
  title: Broadlume BMS Customer API
  version: v1
  summary: Business management API for Broadlume BMS, the flooring ERP formerly known as RollMaster.
  description: REST API for Broadlume BMS (formerly RollMaster), Broadlume's business management system for flooring retailers.
  contact:
    name: Broadlume Developer Portal
    url: https://developer.broadlume.com/bms
servers:
- url: https://api.rmaster.com/api
  description: Production
security:
- apiKeyAuth: []
  sessionToken: []
tags:
- name: Customer
paths:
  /{alias}/customers:
    get:
      operationId: customerList
      summary: Customer List
      tags:
      - Customer
      description: Get all current customers. Can be used to find customers with last invoice date within date range, last pay date in date range, or last edited date of customer record.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks for Last Invoice date, Last Pay date, or Last Edit date in range. If no date range is sent, a full list of customers will be returned.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks for Last Invoice date, Last Pay date, or Last Edit date in range. If no date range is sent, a full list of customers will be returned.
      - name: type
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Sending a type Value of 'PC' along with a product code will return customers who have purchased that product in the date range. A value of 'EDIT' and passing 'startdate' and 'enddate' or 'lastdays' will return only customer records that have been edited within that timeframe.
      - name: prodcode
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Sending a type Value of PC along with a product code will return customers who have purchased that product in the date range.
      - name: startdate2
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks customer creation date.
      - name: enddate2
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Looks customer creation date.
      - name: lastdays
        in: query
        required: false
        schema:
          type: string
          maxLength: 4
        description: Last X days of data to call for. Same as calling for startdate through enddate of X days ago to today. Call for either startdate/enddate OR lastdays. Lastdays WILL OVERRIDE startdate/enddate.
      - name: salesid
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      - name: salesid2
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customer:
    get:
      operationId: customerInfo
      summary: Customer info
      tags:
      - Customer
      description: Get customer info. Either customer or customername are required.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: (required if customername is not passed) References the customer id field. Leading spaces need to be filled with websafe spacing.
      - name: customername
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: (required if customer is not passed) References the customer name. Spaces need to be filled with websafe spacing.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  C_CID:
                    type: string
                  C_NAME:
                    type: string
                  C_ADDR1:
                    type: string
                  C_ADDR2:
                    type: string
                  C_CTYST:
                    type: string
                  C_ZIPCD:
                    type: string
                  C_PHONE:
                    type: string
                  C_TERRFLAG:
                    type: string
                  C_TERR:
                    type: string
                  C_DAYS:
                    type: string
                  C_NET:
                    type: string
                  C_FINCHG:
                    type: string
                  C_CHGPCT:
                    type: string
                  C_CHGDAYS:
                    type: string
                  C_STAT:
                    type: string
                  C_CRSTATUS:
                    type: string
                  C_CONTACT:
                    type: string
                  C_PHONE2:
                    type: string
                  C_FAX:
                    type: string
                  C_TAXID:
                    type: string
                  C_CURR_CREDIT:
                    type: string
                  C_CURR_CREDIT_FLOAT:
                    type: string
                  C_CURR_CREDIT_DISP:
                    type: string
                  C_TERMS:
                    type: string
                  C_SALES:
                    type: string
                  C_YTD_SALES:
                    type: string
                  C_PREVYRSLS:
                    type: string
                  C_CRLIMIT:
                    type: string
                  C_DATE_OPEN:
                    type: string
                  C_LAST_PAY:
                    type: string
                  C_LAST_INV:
                    type: string
                  C_LAST_ORDER:
                    type: string
                  C_EMAIL:
                    type: string
                  C_TERMS_DISP:
                    type: string
                  C_AVG_PAY:
                    type: string
                  C_ONORDER:
                    type: string
                  C_ARDUE:
                    type: string
                  C_CITY:
                    type: string
                  C_STATE:
                    type: string
                  C_COUNTRY:
                    type: string
                  C_PRICE:
                    type: string
                  SAL_NAME:
                    type: string
                  C_CUSTTYPE:
                    type: string
    post:
      operationId: customerInfo1
      summary: Customer info
      tags:
      - Customer
      description: Create customer.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                COMPANY:
                  type: string
                  maxLength: 2
                C_CID:
                  type: string
                  maxLength: 8
                C_WHSE:
                  type: string
                  maxLength: 2
                C_NAME:
                  type: string
                  maxLength: 30
                C_ADDR1:
                  type: string
                  maxLength: 100
                C_ADDR2:
                  type: string
                  maxLength: 100
                C_ZIPCD:
                  type: string
                  maxLength: 10
                C_PHONE:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_TERRFLAG:
                  type: string
                  maxLength: 30
                C_TERR:
                  type: string
                  maxLength: 30
                C_STAT:
                  type: string
                  maxLength: 30
                C_CONTACT:
                  type: string
                  maxLength: 30
                C_PHONE2:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_FAX:
                  type: string
                  maxLength: 30
                  description: Format '999-999-9999'
                C_TAXID:
                  type: string
                  maxLength: 30
                C_SLSID:
                  type: string
                  maxLength: 30
                C_EMAIL:
                  type: string
                  maxLength: 100
                C_PRICE_LEVEL_DEFAULT:
                  type: string
                  maxLength: 30
                C_CUSTTYPE:
                  type: string
                  maxLength: 30
                C_PROMPMGMT_CO:
                  type: string
                  maxLength: 30
                C_NAME_LONG:
                  type: string
                  maxLength: 100
                C_CITY:
                  type: string
                  maxLength: 30
                C_STATE:
                  type: string
                  maxLength: 30
              required:
              - COMPANY
              - C_CID
              - C_WHSE
              - C_NAME
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
    patch:
      operationId: customerInfo2
      summary: Customer info
      tags:
      - Customer
      description: Update customer.
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                COMPANY:
                  type: string
                  maxLength: 2
                C_CID:
                  type: string
                  maxLength: 8
                C_WHSE:
                  type: string
                  maxLength: 2
                C_NAME:
                  type: string
                  maxLength: 30
                C_ADDR1:
                  type: string
                  maxLength: 100
                C_ADDR2:
                  type: string
                  maxLength: 100
                C_CTYST:
                  type: string
                  maxLength: 30
                C_ZIPCD:
                  type: string
                  maxLength: 10
                C_PHONE:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_TERRFLAG:
                  type: string
                  maxLength: 30
                C_TERR:
                  type: string
                  maxLength: 30
                C_STAT:
                  type: string
                  maxLength: 30
                C_CONTACT:
                  type: string
                  maxLength: 30
                C_PHONE2:
                  type: string
                  maxLength: 15
                  description: Format '999-999-9999'
                C_FAX:
                  type: string
                  maxLength: 30
                  description: Format '999-999-9999'
                C_TAXID:
                  type: string
                  maxLength: 30
                C_SLSID:
                  type: string
                  maxLength: 30
                C_EMAIL:
                  type: string
                  maxLength: 100
                C_PRICE_LEVEL_DEFAULT:
                  type: string
                  maxLength: 30
                C_CUSTTYPE:
                  type: string
                  maxLength: 30
                C_PROMPMGMT_CO:
                  type: string
                  maxLength: 30
                C_NAME_LONG:
                  type: string
                  maxLength: 100
                C_CITY:
                  type: string
                  maxLength: 30
                C_STATE:
                  type: string
                  maxLength: 30
                C_COUNTRY:
                  type: string
                  maxLength: 100
                C_ORDSTATUS:
                  type: string
                  maxLength: 30
              required:
              - COMPANY
              - C_CID
              - C_WHSE
              - C_NAME
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  RETURN:
                    type: string
  /{alias}/customersearchbyphone:
    get:
      operationId: customerSearch
      summary: Customer Search
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: term
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Search term for phone number
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customersearch:
    get:
      operationId: customerSearch1
      summary: Customer Search
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Last edited date.
      - name: enddate
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD - Last edited date.
      - name: term
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Search term
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerproperties:
    get:
      operationId: customerProperties
      summary: Customer Properties
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Customer ID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerpropertymanagers:
    get:
      operationId: customerPropertyManagers
      summary: Customer Property Managers
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerinvoices:
    get:
      operationId: customerInvoices
      summary: Customer Invoices
      tags:
      - Customer
      description: Customer Invoices List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: type
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
        description: DEP, ORD, INV, IVA (Returns all invoices within date range, does not use customer ID)
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
        description: Format - YYYYMMDD
      - name: search
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Optional - "I" searches by invoice date, otherwise register date is used.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customer5year:
    get:
      operationId: customer5YearSales
      summary: Customer 5 Year Sales
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: role
        in: query
        required: true
        schema:
          type: string
          maxLength: 1
        description: Sending S totals sales, R totals open invoice items
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customerARcontacts:
    get:
      operationId: customerArContacts
      summary: Customer AR Contacts
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customercontact:
    post:
      operationId: createsCustomerContact
      summary: Creates Customer Contact
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                customer:
                  type: string
                  maxLength: 8
                firstname:
                  type: string
                  maxLength: 30
                  description: Contact First Name
                lastname:
                  type: string
                  maxLength: 30
                  description: Contact Last Name
                contactrole:
                  type: string
                  maxLength: 30
                  description: Contact Role
                phone1:
                  type: string
                  maxLength: 30
                  description: Contact Phone
                phone2:
                  type: string
                  maxLength: 30
                  description: Contact Cell Phone
                email:
                  type: string
                  maxLength: 100
                  description: Contact Email
                text2:
                  type: string
                  maxLength: 1
                  description: Contact Can Be Texted - Format - 1 For Y, 0 For N.
              required:
              - company
              - customer
              - firstname
              - lastname
              - contactrole
              - email
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ARC_UPDATED:
                    type: string
    patch:
      operationId: updatesExistingCustomerContact
      summary: Updates Existing Customer Contact
      tags:
      - Customer
      description: Update Existing Customer Contact
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: contact
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
        description: Contact Key
      - name: sequence
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
        description: AR contact sequence number
      - name: firstname
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact First Name
      - name: lastname
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Last Name
      - name: contactrole
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Role
      - name: phone1
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Phone
      - name: phone2
        in: query
        required: false
        schema:
          type: string
          maxLength: 30
        description: Contact Cell Phone
      - name: email
        in: query
        required: false
        schema:
          type: string
          maxLength: 100
        description: Contact Email
      - name: text2
        in: query
        required: false
        schema:
          type: string
          maxLength: 1
        description: Contact Can Be Texted - Format - 1 For Y, 0 For N.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ARC_UPDATED:
                    type: string
  /{alias}/customerARnotes:
    get:
      operationId: customerArContactNotes
      summary: Customer AR Contact Notes
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: contact
        in: query
        required: true
        schema:
          type: string
          maxLength: 6
      - name: seq
        in: query
        required: false
        schema:
          type: string
          maxLength: 3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ customerARnotes:
    post:
      operationId: createCustomerArContactNotes
      summary: Create Customer AR Contact Notes
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                contact:
                  type: string
                  maxLength: 6
                seq:
                  type: string
                  maxLength: 3
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
    patch:
      operationId: updateCustomerArContactNotes
      summary: Update Customer AR Contact Notes
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                contact:
                  type: string
                  maxLength: 6
                seq:
                  type: string
                  maxLength: 3
              required:
              - company
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/ ContactNotesbyID:
    get:
      operationId: allCustomerContactNotes
      summary: All Customer Contact Notes
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customersaleslist:
    get:
      operationId: customerSales
      summary: Customer Sales
      tags:
      - Customer
      description: Customer Sales List
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/roleList:
    get:
      operationId: getContactRoleList
      summary: Get Contact Role List
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/shipto:
    get:
      operationId: shipToInformation
      summary: Ship To Information
      tags:
      - Customer
      description: Return Ship To Contact Information
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: Required to return valid sale rep contact information.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: shipto
        in: query
        required: true
        schema:
          type: string
          maxLength: 4
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  NAME:
                    type: string
                  ADDR1:
                    type: string
                  ADDR2:
                    type: string
                  CTYST:
                    type: string
                  ZIPCD:
                    type: string
                  PHONE1:
                    type: string
                  PHONE2:
                    type: string
                  FAX:
                    type: string
                  CONTACT:
                    type: string
                  CITY:
                    type: string
                  STATE:
                    type: string
                  TYPE:
                    type: string
                  EMAIL:
                    type: string
                  EMAIL_REP:
                    type: string
                  EMAIL_CUSTOMER:
                    type: string
                  SHIPTO_REP1:
                    type: string
                  SHIPTO_REP1_EMAIL:
                    type: string
                  SHIPTO_REP2:
                    type: string
                  SHIPTO_REP2_EMAIL:
                    type: string
                  SHIPTO_EMAIL_OVERRIDDEN:
                    type: string
  /{alias}/customershiptos:
    get:
      operationId: customerShipToCodes
      summary: Customer Ship To Codes
      tags:
      - Customer
      description: Gets all customer ship to codes
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: custid
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/payhist:
    get:
      operationId: paymentHistory
      summary: Payment History
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/aropenitem:
    get:
      operationId: arOpenItems
      summary: AR Open Items
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: startdate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: enddate
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/shiptocodes:
    get:
      operationId: shipToCodeList
      summary: Ship To Code List
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: branch
        in: query
        required: false
        schema:
          type: string
          maxLength: 2
        description: When not used, sales rep emails cannot be returned
      - name: customer
        in: query
        required: false
        schema:
          type: string
          maxLength: 8
        description: When not used, all customers are returned
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/nationalpropertymanagers:
    get:
      operationId: getListOfNationalPropertyManagerRelationships
      summary: Get list of national property manager relationships
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customernotes:
    post:
      operationId: createsACustomerNote
      summary: Creates a Customer Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                customer:
                  type: string
                  maxLength: 8
                note:
                  type: string
                  maxLength: 59
              required:
              - company
              - customer
              - note
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    patch:
      operationId: editsACustomerNote
      summary: Edits a Customer Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: note
        in: query
        required: true
        schema:
          type: string
          maxLength: 59
      - name: page
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    get:
      operationId: readsACustomerNote
      summary: Reads a Customer Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    delete:
      operationId: erasesACustomerNote
      summary: Erases a Customer Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: page
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
  /{alias}/salesnotes:
    post:
      operationId: createsASalesNote
      summary: Creates a Sales Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                customer:
                  type: string
                  maxLength: 8
                custnote:
                  type: string
                  maxLength: 1000
              required:
              - company
              - customer
              - custnote
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_NOTE:
                    type: string
                  USER_ID:
                    type: string
                  DATE:
                    type: string
                  TIME:
                    type: string
    patch:
      operationId: editsASalesNote
      summary: Edits a Sales Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: custnote
        in: query
        required: true
        schema:
          type: string
          maxLength: 1000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_NOTE:
                    type: string
                  USER_ID:
                    type: string
                  DATE:
                    type: string
                  TIME:
                    type: string
    get:
      operationId: readsASalesNote
      summary: Reads a Sales Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_NOTE:
                    type: string
                  USER_ID:
                    type: string
                  DATE:
                    type: string
                  TIME:
                    type: string
    delete:
      operationId: erasesASalesNote
      summary: Erases a Sales Note
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_NOTE:
                    type: string
                  USER_ID:
                    type: string
                  DATE:
                    type: string
                  TIME:
                    type: string
  /{alias}/shiptonotes:
    post:
      operationId: createsACustomerNoteByShiptoCodeInactiveUntil2102Release
      summary: Creates a Customer Note by ShipTo Code - Inactive until 2102 Release
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                  maxLength: 2
                  description: RollMaster company.
                customer:
                  type: string
                  maxLength: 8
                note:
                  type: string
                  maxLength: 59
                shipto:
                  type: string
                  maxLength: 4
              required:
              - company
              - customer
              - note
              - shipto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    patch:
      operationId: updatesACustomerNoteByShiptoCodeInactiveUntil2102Release
      summary: Updates a Customer Note by ShipTo Code - Inactive until 2102 Release
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: note
        in: query
        required: true
        schema:
          type: string
          maxLength: 59
      - name: page
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipto:
                  type: string
                  maxLength: 4
              required:
              - shipto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    get:
      operationId: getsAllCustomerNoteByShiptoCodeInactiveUntil2102Release
      summary: Gets all Customer Note by ShipTo Code - Inactive until 2102 Release
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipto:
                  type: string
                  maxLength: 4
              required:
              - shipto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
    delete:
      operationId: erasesACustomerNoteByShiptoCodeInactiveUntil2102Release
      summary: Erases a Customer Note by ShipTo Code - Inactive until 2102 Release
      tags:
      - Customer
      description: Erases a ShipTo Note - Inactive until 2102 Release
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: customer
        in: query
        required: true
        schema:
          type: string
          maxLength: 8
      - name: page
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
      - name: lnnum
        in: query
        required: true
        schema:
          type: string
          maxLength: 3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipto:
                  type: string
                  maxLength: 4
              required:
              - shipto
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  COMPANY:
                    type: string
                  CUSTOMER_ID:
                    type: string
                  CUSTOMER_ADDRESS:
                    type: string
                  PAGE:
                    type: string
                  LINE:
                    type: string
                  NOTE:
                    type: string
  /{alias}/customersearchbyemail:
    get:
      operationId: customerSearch2
      summary: Customer Search
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      - name: terms
        in: query
        required: true
        schema:
          type: string
          maxLength: 30
        description: Search term for email address
      - name: page
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1'
        description: Used to offset data by 'page'. Used in conjunction with 'pagelimit' parameter to limit the amount of records per page.
      - name: pagelimit
        in: query
        required: false
        schema:
          type: number
          maxLength: 4
          default: '1000'
        description: Limit of records allowed per 'page' of data. Used with the 'page' parameter to offset records and get chunks of a return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
  /{alias}/customercreditstats:
    get:
      operationId: getListOfPossibleCustomerCreditStatusCodes
      summary: Get List of possible customer credit status codes
      tags:
      - Customer
      parameters:
      - name: alias
        in: path
        required: true
        schema:
          type: string
        description: The clientid for the API call.
      - name: company
        in: query
        required: true
        schema:
          type: string
          maxLength: 2
        description: RollMaster company.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '0':
                    type: array
                    items:
                      type: string
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: API key issued by Broadlume, required on every request.
    sessionToken:
      type: apiKey
      in: header
      name: token
      description: User session token obtained from POST /{alias}/token. Sessions expire after a server-specified idle timeout (default 5 minutes); refresh with the keepalive endpoint.
externalDocs:
  description: Broadlume BMS developer portal
  url: https://developer.broadlume.com/bms
